@font-face {
    font-family: 'Love Conchetta';
    src: url('LoveConchetta.woff2') format('woff2'),
        url('LoveConchetta.woff') format('woff'),
        url('LoveConchetta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

